body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: whitesmoke;
}
/* game page */
.navigation {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 20;
}
.navigation > a {
  padding-left: 14px;
  font-size: 1.2em;
  color: whitesmoke;
  text-decoration: none;
}

.navigation > a:hover {
  color: darkred;
  text-decoration: underline;
}
/* game page */
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.game-board {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game-board .case {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board .case img {
  max-width: 70px;
  max-height: 70px;
}

.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.score-board h2 {
  text-decoration: underline;
}

/* error page */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.error img {
  animation: heart 1s infinite alternate;
}

@keyframes heart{
  0%
  {
    transform: scale(1);
  }
  100%
  {
    transform: scale(1.1);
  }
}

/* homepage */

.home {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home .background {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  animation: blurEffect 10s ease-in-out infinite alternate;
}

@keyframes blurEffect{
  0%
    {
      filter: blur(0px);
    }
    100%
    {
      transform: scale(1.1);
      filter: blur(2px);
    }
}

.home .foreground {
  position: relative;
  z-index: 10;
  height: 100vh;
  transition: 2s;
  bottom: -10%;
}

.home .foreground:hover {
  filter: blur(3px);
  transform: scale(1.1);
  transition: 7s;
}